.idea/
.ipynb_checkpoints/
**/.ipynb_checkpoints/

models/trained/

models/data/content-images/**
models/data/sample-images/**
models/data/style-images/**
models/data/content-images-lite/**

models/DIY/AppleML/experiments/
models/DIY/PyTorch/experiments/
models/DIY/TF/experiments/
models/DIY/Turi/experiments/
models/DIY/Swift4TF/experiments/

models/DIY/AppleML/AppleCreateML.playground/Resources
models/DIY/AppleML/AppleCreateML.playground/Resources/data/**

models/DIY/AppleML/CreateML.mlproj/Data\ Sources
models/DIY/AppleML/CreateML.mlproj/Checkpoints
models/DIY/AppleML/CreateML.mlproj/Snapshots
models/DIY/AppleML/CreateML.mlproj/Models
models/DIY/AppleML/CreateML.mlproj/Media
